<form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup)">
  <div>
    <input type="text"formControlName= "firstName" placeholder="first name">
    
  </div>
  <div>
    <input type="text"formControlName= "lastName" placeholder="lastName">
  </div>
  <div>
    <input type="text"formControlName = "Email" placeholder="Email">
  </div>
  <div>
      <input type="number" min="0" max="99" formControlName = "age" placeholder="Age">
    </div>
  <div>
      <button >Click </button>
  </div>

</form>